<div>
  <h2>Lorem Ipsum</h2>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</div>
    <div class="row bootstrap snippets bootdeys padding">
      <div class="col-sm-12">
        <div class="comment-wrapper">
          <div class="panel panel-info">
            <div class="panel-heading">
              Comment as {{com.email}}
            </div>
            <div class="panel-body">
              <textarea class="form-control" placeholder="write a comment..." rows="3" [(ngModel)]="com.text"></textarea>
              <br>
              <button type="button" class="btn btn-info pull-right" (click)="Comment()">Post</button>
              <div class="clearfix"></div>
              <hr>
              <ul class="media-list">
                <li class="media" *ngFor="let comment of comments">
                  <div class="media-body">
                    <strong class="text-success">{{comment.email}}</strong>
                    <p>
                      {{comment.text}}
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

